*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.meu-icone:hover {
    color: aqua;

}

.meu-icone {
    color: #cccccc;
    transition: .6s;
}
.img {transition-timing-function: ease-in-out;}
img:hover {
    transition: transform 2s;
    transform: scale(999999999999);
}
